<html>
    <head>
        <title>Benchmarks</title>
        <script src='https://cdn.tailwindcss.com'></script>
    </head>
    <body>
        <h1 class="text-center text-2xl font-bold m-4">Benchmarks</h1>

        {{range .}}
          

            <div class="card rounded-xl border-2 p-10 m-5 flex justify-evenly items-center">
                <p class="font-bold text-xl w-64">{{.}}</p>
                
            <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full flex space-x-2" href="/benchmarks/{{.}}" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye"><path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"/><circle cx="12" cy="12" r="3"/></svg>

                <p>View Full Report</p>
            </a>
            
            
                </div>
            </div>
        {{end}}
    </body>
</html>